*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body{
    background-color: grey;
   }
   .section{
    width: 100%;
    height: 80vh;
    background-image: url("https://images.shiksha.com/mediadata/images/1488259134phpShnPJa.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
   } 
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;    
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }  
   .logo img{
    height: 20%;
    width: 20%;
   }  
   .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10%;
   } 
   .heading h1{
    color: #fff;
    background-image: linear-gradient(red,rgb(220, 220, 206),green);
    border-radius: 10px;
   }
   .btn1{  
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 5px;
    color: rgb(253, 253, 253);
    margin-left: 40%;
    background-color: rgb(61, 64, 64);
   }
   .btn1:hover{
    background-color: rgb(7, 105, 97);
    color: white;
   }
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    font-size: 15px;
    transform: matrix3d();
    transition-delay: 3s;
    transition: 0.3s ease ease-in-out;
    text-decoration: none;
    border-bottom: 4px solid blue;
   }
   .menu li {
    padding: 5px 14px;
   }
   h1{
    text-align: center;
    
   }
   .blog{
    width: 40%;
    height: 20%;
    margin-left: 6%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    
   }
   .blog img{
    height:250px;
    width: 100%;
   }
   .blog1{
    display: flex;
   }
   .blog_write{
    height: 50vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:center;
   }
   .blog_write1{   
    text-align:left;
    width: 98%;
   }

   .blog2{
    height: 100%;
    width: 86%;
    margin-left: 6%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .blog2 img{
    height: 200%;
    width: 100%;
   
   }
   .frm_main{
    height: 100%;
    width: 100%;
   }
   .sbmt{
    border: 1px solid black;
    height: 2%;
    width: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    font-size: 30px;
    
   }
   .sbmt:hover{
    background-color: rgb(146, 128, 105);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
   }
   .frm{
    margin-left: 6%;
    margin-top: 20px;   
    width: 86%;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
   }
   .frm h1{
    text-align: center;
   }
   .cmnt{
    width: 80%;
    padding-top: 10px;
    margin-left: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   textarea{
    height: 100px;
   }
   .cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://www.theasianschool.net/blog/wp-content/uploads/2020/05/Group-Study.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
   }
   .cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
   }
   .btn{
    background-color: #764040; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
   }
   .btn:hover{
    background-color: cadetblue;
   }
   .abt{
    margin: 100px auto;
    width: 80%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
   }
   .icon{
    height: 40px;
    width: 40px;
   }
   
   